SECRET_KEY=replace-with-a-random-secret
SQLALCHEMY_DATABASE_URI=postgresql://postgres:<password>@localhost:5432/test
HOST=localhost
PORT=8000
FRONTEND_URL=http://localhost:5173/
VITE_BACKEND_URL=http://localhost:8000/
REDIS_OM_URL=redis://[[username]:[password]]@localhost:6379/[database number]